:root {
  --font: "Prompt", sans-serif;
  --highlight-green: #81fe88;
  --petroleum-green: #132e35;
  --graphite: #01080e;
  --dark-gray: #171d1f;
  --medium-gray: #888888;
  --gray: #3e3e3f;
  --light-gray: #bcbcbc;
  --offwhite: #e1e1e1;
  --white: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font);
  background: url("../img/symbol.png") left 10rem top no-repeat,
    url("../img/symbol.png") right 10rem bottom no-repeat, var(--graphite);
  background-size: 22.5rem;
  color: var(--white);
  height: 100vh;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

@media (max-width: 360px) {
  
  .container-login {
    margin: 5% !important;
    padding: 1em 0.5em;
    gap: 0.8em;
  }

  .container-login img {
    display: none;
  }

  .form__input-field input,
  .form__button {
    width: 100%;
    margin: 0.5em 0;
  }

  .form__title {
    font-size: 20px;
  }

  .form__subtitle {
    font-size: 14px;
  }

  .form__checkbox-field {
    margin-right: 0.5em;
  }

  .form__options-text {
    font-size: 12px;
    margin-left: 0.5em;
    margin-top: 0.2em;
  }
}




@media (max-width: 480px) {
  .container-login {
    margin: 5%;
    padding: 2em 1em;
    gap: 1em;
  }

  .container-login img {
    display: none;
  }

  .form__input-field input,
  .form__button {
    width: 95%;
    margin: 0 auto;
  }

  .form__title {
    font-size: 22px;
  }

  .form__subtitle {
    font-size: 16px;
  }
}


@media (max-width: 768px) {
  .container-login {
    flex-direction: column;
    padding: 2em 1em;
    margin: 10%;
    gap: 1.5em;
  }

  .container-login img {
    width: 80%;
    margin-bottom: 1em;
    align-self: center;
  }

  .form__input-field input,
  .form__button {
    width: 90%;
    margin: 0 auto;
  }

  .form__title {
    font-size: 24px;
  }

  .form__subtitle {
    font-size: 18px;

    .form__checkbox-field {
      margin-right: 0.3em;
    }

  }
}